body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description {
  color: black;
  white-space: pre-wrap;
  width: 100%; /* added */
  height: 100%; /* added */
}

.time-block {
  text-align: right; /* changed center -> right */
  border-radius: 15px;
}

.row {
  white-space: nowrap; /* changed pre-wrap -> nowrap */
  height: 100px; /* changed 80px -> 100px */
  border-top: 1px solid white;
}

.hour {
  font-size: 20px; /* added */
  padding: 5px; /* added */
  background-color: #ffffff;
  color: #000000;
  /* border-top: 1px dashed #000000; */ /* removed */
}

.past {
  background-color: #d3d3d3;
  color: black;
}

.present {
  background-color: #ff6961;
  color: black;
}

.future {
  background-color: #77dd77;
  color: black;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
  padding: 30px; /* added */
}

.saveBtn i:hover {
  color: black; /* added */
  /* font-size: 20px; */ /* removed */
  transition: all 0.3s ease-in-out;
}
